{% extends "shared/layout.html" %}

{% block title %}Holy Paladin Overview{% endblock %}
{% block content %}
<div class="container mt-3">
  <div class="row border-bottom pb-3">
    <div class="col text-start">
      <h6>{{boss_difficulty}}</h6>
      <h2 class="text-warning">{{boss_name}}</h2>
    </div>
    <div class="col text-end">
      <h6>{{player_spec}} {{player_type}} <img src="/static/img/spell_holy_holybolt.jpg" id="thumbnail"></h6>
      <h2 class="text-warning">{{player_name}}</h2>
    </div>
  </div>
</div>

<div class="container mt-3 border-bottom pb-3">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link active text-bg-warning" aria-current="page" href="/holy-overview">Overview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/holy-statistics">Statistics</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/holy-timeline">Timeline</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/holy-character">Character</a>
    </li>
  </ul>
</div>

<div class="container mt-3">
  <h1 class="text-warning">CHECKLIST</h1>
</div>

<div class="container mt-3">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        {% if active_time_percent >= 50 %}
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="false" aria-controls="collapseOne">
          {% elif active_time_percent < 50 %} <button class="accordion-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {% endif %}
            {% if active_time_percent >= 50 %}
            <i id="icon" class="fa-solid fa-circle-check"></i>
            {% elif active_time_percent < 50 %} <i id="icon" class="fa-regular fa-circle"></i>
              {% endif %}
              <h4 class="ms-2">Always be casting</h4>
              {% if active_time_percent >= 50 %}
              <div class="progress" id="accordion-header-progress-bar" role="progressbar" aria-label="Success example"
                aria-valuenow="{{active_time_percent}}" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-success" style="width: {{active_time_percent}}%"></div>
              </div>
              {% elif active_time_percent < 50 %} <div class="progress" id="accordion-header-progress-bar" role="progressbar"
                aria-label="Danger example" aria-valuenow="{{active_time_percent}}" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-danger" style="width: {{active_time_percent}}%"></div>
    </div>
    {% endif %}
    </button>
    </h2>
    {% if active_time_percent >= 50 %}
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
      {% elif active_time_percent < 50 %} <div id="collapseOne" class="accordion-collapse collapse show"
        aria-labelledby="headingOne">
        {% endif %}
        <div class="accordion-body">
          <div class="row">
            <div class="col-3">
              <p>Active time casting</p>
            </div>
            <div class="col-1">
              <p>{{active_time_percent}}%</p>
            </div>
            <div class="col">
              {% if active_time_percent >= 50 %}
              <div class="progress mt-1" id="progress-bar" role="progressbar" aria-label="Success example"
                aria-valuenow="{{active_time_percent}}" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-success" style="width: {{active_time_percent}}%"></div>
              </div>
              {% elif active_time_percent < 50 %} <div class="progress mt-1" id="progress-bar" role="progressbar"
                aria-label="Danger example" aria-valuenow="{{active_time_percent}}" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-danger" style="width: {{active_time_percent}}%"></div>
            </div>
            {% endif %}
          </div>
        </div>
    </div>
    </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        {% if holy_shock_efficiency >= 50 %}
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          {% elif holy_shock_efficiency < 50 %} <button class="accordion-button" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            {% endif %}
            {% if holy_shock_efficiency >= 50 %}
            <i id="icon" class="fa-solid fa-circle-check"></i>
            {% elif holy_shock_efficiency < 50 %} <i id="icon" class="fa-regular fa-circle"></i>
              {% endif %}
              <h4 class="ms-2">Use your primary healing spells</h4>
              {% if holy_shock_efficiency >= 50 %}
              <div class="progress" id="accordion-header-progress-bar" role="progressbar" aria-label="Success example"
                aria-valuenow="{{holy_shock_efficiency}}" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-success" style="width: {{holy_shock_efficiency}}%"></div>
              </div>
              {% elif holy_shock_efficiency < 50 %} <div class="progress" id="accordion-header-progress-bar"
                role="progressbar" aria-label="Danger example" aria-valuenow="{{holy_shock_efficiency}}"
                aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-danger" style="width: {{holy_shock_efficiency}}%"></div>
    </div>
    {% endif %}
    </button>
    </h2>
    {% if holy_shock_efficiency >= 50 %}
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
      {% elif holy_shock_efficiency < 50 %} <div id="collapseTwo" class="accordion-collapse collapse show"
        aria-labelledby="headingTwo">
        {% endif %}
        <div class="accordion-body">
          <p>Holy Shock is your most efficient healing spell available. Try to cast it as much as possible without
            overhealing.</p>
          <div class="row">
            <div class="col-3">
              <p><img src="/static/img/spell_holy_searinglight.jpg" id="thumbnail"> Holy Shock</p>
            </div>
            <div class="col-1">
              <p>{{holy_shock_efficiency}}%</p>
            </div>
            <div class="col">
              {% if holy_shock_efficiency >= 50 %}
              <div class="progress mt-1" id="progress-bar" role="progressbar" aria-label="Success example"
                aria-valuenow="{{holy_shock_efficiency}}" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-success" style="width: {{holy_shock_efficiency}}%"></div>
              </div>
              {% elif holy_shock_efficiency < 50 %} <div class="progress mt-1" id="progress-bar" role="progressbar"
                aria-label="Danger example" aria-valuenow="{{holy_shock_efficiency}}" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar bg-danger" style="width: {{holy_shock_efficiency}}%"></div>
            </div>
            {% endif %}
          </div>
        </div>
    </div>
  </div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingThree">
    {% if avenging_wrath_efficiency >= 50 %}
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
      aria-expanded="false" aria-controls="collapseThree">
      {% elif avenging_wrath_efficiency < 50 %} <button class="accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
        {% endif %}
        {% if avenging_wrath_efficiency >= 50 %}
        <i id="icon" class="fa-solid fa-circle-check"></i>
        {% elif avenging_wrath_efficiency < 50 %} <i id="icon" class="fa-regular fa-circle"></i>
          {% endif %}
          <h4 class="ms-2">Use your cooldowns effectively</h4>
          {% if avenging_wrath_efficiency >= 50 %}
          <div class="progress" id="accordion-header-progress-bar" role="progressbar" aria-label="Success example"
            aria-valuenow="{{avenging_wrath_efficiency}}" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-success" style="width: {{avenging_wrath_efficiency}}%"></div>
          </div>
          {% elif avenging_wrath_efficiency < 50 %} <div class="progress" id="accordion-header-progress-bar"
            role="progressbar" aria-label="Danger example" aria-valuenow="{{avenging_wrath_efficiency}}"
            aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-danger" style="width: {{avenging_wrath_efficiency}}%"></div>
</div>
{% endif %}
</button>
</h2>
{% if avenging_wrath_efficiency >= 50 %}
<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
  {% elif avenging_wrath_efficiency < 50 %} <div id="collapseThree" class="accordion-collapse collapse show"
    aria-labelledby="headingThree">
    {% endif %}
    <div class="accordion-body">
      <p>Your cooldowns are an important contributor to your healing throughput. Try to get in as many efficient
        casts as
        the fight allows.</p>
      <div class="row">
        <div class="col-3">
          <p><img src="/static/img/spell_holy_avenginewrath.jpg" id="thumbnail"> Avenging Wrath</p>
        </div>
        <div class="col-1">
          <p>{{avenging_wrath_efficiency}}%</p>
        </div>
        <div class="col">
          {% if avenging_wrath_efficiency >= 50 %}
          <div class="progress mt-1" id="progress-bar" role="progressbar" aria-label="Success example"
            aria-valuenow="{{avenging_wrath_efficiency}}" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-success" style="width: {{avenging_wrath_efficiency}}%"></div>
          </div>
          {% elif avenging_wrath_efficiency < 50 %} <div class="progress mt-1" id="progress-bar" role="progressbar"
            aria-label="Danger example" aria-valuenow="{{avenging_wrath_efficiency}}" aria-valuemin="0"
            aria-valuemax="100">
            <div class="progress-bar bg-danger" style="width: {{avenging_wrath_efficiency}}%"></div>
        </div>
        {% endif %}
      </div>
    </div>
</div>
</div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingFour">
    {% if beacon_efficiency >= 50 %}
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
      aria-expanded="false" aria-controls="collapseFour">
      {% elif beacon_efficiency < 50 %} <button class="accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
        {% endif %}
        {% if beacon_efficiency >= 50 %}
        <i id="icon" class="fa-solid fa-circle-check"></i>
        {% elif beacon_efficiency < 50 %} <i id="icon" class="fa-regular fa-circle"></i>
          {% endif %}
          <h4 class="ms-2">Effective beacon usage</h4>
          {% if beacon_efficiency >= 50 %}
          <div class="progress" id="accordion-header-progress-bar" role="progressbar" aria-label="Success example"
            aria-valuenow="{{beacon_efficiency}}" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-success" style="width: {{beacon_efficiency}}%"></div>
          </div>
          {% elif beacon_efficiency < 50 %} <div class="progress" id="accordion-header-progress-bar" role="progressbar"
            aria-label="Danger example" aria-valuenow="{{beacon_efficiency}}" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-danger" style="width: {{beacon_efficiency}}%"></div>
</div>
{% endif %}
</button>
</h2>
{% if beacon_efficiency >= 50 %}
<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour">
  {% elif beacon_efficiency < 50 %} <div id="collapseFour" class="accordion-collapse collapse show"
    aria-labelledby="headingFour">
    {% endif %}
    <div class="accordion-body">
      <div class="row">
        <div class="col">
          <h6><img src="/static/img/ability_paladin_beaconoflight.jpg" id="thumbnail"> Beacon of Light Uptime</h6>
          <div class="row">
            <div class="col-3">
              <p>{{beacon_of_light_uptime_percent}}%</p>
            </div>
            <div class="col">
              {% if beacon_of_light_uptime_percent >= 50 %}
              <div class="progress mt-1" id="progress-bar" role="progressbar" aria-label="Success example"
                aria-valuenow="{{beacon_of_light_uptime_percent}}" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-success" style="width: {{beacon_of_light_uptime_percent}}%"></div>
              </div>
              {% elif beacon_of_light_uptime_percent < 50 %} <div class="progress mt-1" id="progress-bar"
                role="progressbar" aria-label="Danger example" aria-valuenow="{{beacon_of_light_uptime_percent}}"
                aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-danger" style="width: {{beacon_of_light_uptime_percent}}%"></div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col">
        <h6><img src="/static/img/ability_paladin_beaconsoflight.jpg" id="thumbnail"> Beacon of Faith Uptime</h6>
        <div class="row">
          <div class="col-3">
            <p>{{beacon_of_faith_uptime_percent}}%</p>
          </div>
          <div class="col">
            {% if beacon_of_faith_uptime_percent >= 50 %}
            <div class="progress mt-1" id="progress-bar" role="progressbar" aria-label="Success example"
              aria-valuenow="{{beacon_of_faith_uptime_percent}}" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar bg-success" style="width: {{beacon_of_faith_uptime_percent}}%"></div>
            </div>
            {% elif beacon_of_faith_uptime_percent < 50 %} <div class="progress mt-1" id="progress-bar"
              role="progressbar" aria-label="Danger example" aria-valuenow="{{beacon_of_faith_uptime_percent}}"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar bg-danger" style="width: {{beacon_of_faith_uptime_percent}}%"></div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
</div>
</div>
</div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingFive">
    {% if lay_on_hands_efficiency >= 50 %}
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
      aria-expanded="false" aria-controls="collapseFive">
      {% elif lay_on_hands_efficiency < 50 %} <button class="accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
        {% endif %}
        {% if lay_on_hands_efficiency >= 50 %}
        <i id="icon" class="fa-solid fa-circle-check"></i>
        {% elif lay_on_hands_efficiency < 50 %} <i id="icon" class="fa-regular fa-circle"></i>
          {% endif %}
          <h4 class="ms-2">Use your supportive abilities</h4>
          {% if lay_on_hands_efficiency >= 50 %}
          <div class="progress" id="accordion-header-progress-bar" role="progressbar" aria-label="Success example"
            aria-valuenow="{{lay_on_hands_efficiency}}" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-success" style="width: {{lay_on_hands_efficiency}}%"></div>
          </div>
          {% elif lay_on_hands_efficiency < 50 %} <div class="progress" id="accordion-header-progress-bar"
            role="progressbar" aria-label="Danger example" aria-valuenow="{{lay_on_hands_efficiency}}" aria-valuemin="0"
            aria-valuemax="100">
            <div class="progress-bar bg-danger" style="width: {{lay_on_hands_efficiency}}%"></div>
</div>
{% endif %}
</button>
</h2>
{% if lay_on_hands_efficiency >= 50 %}
<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive">
  {% elif lay_on_hands_efficiency < 50 %} <div id="collapseFive" class="accordion-collapse collapse show"
    aria-labelledby="headingFive">
    {% endif %}
    <div class="accordion-body">
      <div class="row">
        <div class="col-3">
          <p><img src="/static/img/spell_holy_layonhands.jpg" id="thumbnail"> Lay on Hands</p>
        </div>
        <div class="col-1">
          <p>{{lay_on_hands_efficiency}}%</p>
        </div>
        <div class="col">
          {% if lay_on_hands_efficiency >= 50 %}
          <div class="progress mt-1" id="progress-bar" role="progressbar" aria-label="Success example"
            aria-valuenow="{{lay_on_hands_efficiency}}" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-success" style="width: {{lay_on_hands_efficiency}}%"></div>
          </div>
          {% elif lay_on_hands_efficiency < 50 %} <div class="progress mt-1" id="progress-bar" role="progressbar"
            aria-label="Danger example" aria-valuenow="{{lay_on_hands_efficiency}}" aria-valuemin="0"
            aria-valuemax="100">
            <div class="progress-bar bg-danger" style="width: {{lay_on_hands_efficiency}}%"></div>
        </div>
        {% endif %}
      </div>
    </div>
</div>
</div>
</div>
<div class="accordion-item">
  <h2 class="accordion-header" id="headingSix">
    {% if prepared_percent >= 50 %}
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
      aria-expanded="false" aria-controls="collapseSix">
      {% elif prepared_percent < 50 %} <button class="accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
        {% endif %}
        {% if prepared_percent >= 50 %}
        <i id="icon" class="fa-solid fa-circle-check"></i>
        {% elif prepared_percent < 50 %} <i id="icon" class="fa-regular fa-circle"></i>
          {% endif %}
          <h4 class="ms-2">Be well prepared</h4>
          {% if prepared_percent >= 50 %}
          <div class="progress" id="accordion-header-progress-bar" role="progressbar" aria-label="Success example"
            aria-valuenow="{{prepared_percent}}" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-success" style="width: {{prepared_percent}}%"></div>
          </div>
          {% elif prepared_percent < 50 %} <div class="progress" id="accordion-header-progress-bar" role="progressbar"
            aria-label="Danger example" aria-valuenow="{{prepared_percent}}" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar bg-danger" style="width: {{prepared_percent}}%"></div>
</div>
{% endif %}
</button>
</h2>
{% if prepared_percent >= 50 %}
<div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix">
  {% elif prepared_percent < 50 %} <div id="collapseSix" class="accordion-collapse collapse show"
    aria-labelledby="headingSix">
    {% endif %}
    <div class="accordion-body">
      <div class="row">
        <div class="col">
          <p>All items enchanted</p>
          <p>All weapons enhanced (oils/stones)</p>
          <p>Combat Potions used</p>
          <p>Healthstones used</p>
        </div>
        <div class="col">
          <p>{{enchant_tally}}/8</p>
          <p>{{enhanced_tally}}/1</p>
          <p>{{player_potion_use}}</p>
          <p>{{player_healthstone_use}}</p>
        </div>
        <div class="col">
          <p>Flask used</p>
          <p>Food used</p>
          <p>Augment rune used</p>
        </div>
        <div class="col">
          {% if flask_used == True %}
          <p>Yes</p>
          {% elif flask_used == False %}
          <p>No</p>
          {% endif %}
          {% if food_buff == True %}
          <p>Yes</p>
          {% elif food_buff == False %}
          <p>No</p>
          {% endif %}
          {% if weapon_enhanced == True %}
          <p>Yes</p>
          {% elif weapon_enhanced == False %}
          <p>No</p>
          {% endif %}
        </div>
      </div>
    </div>
</div>
</div>
</div>
</div>

<div class="container mt-3">
  <h1 class="text-warning">Suggestions</h1>
</div>

<div class="container mt-3">
  {% if holy_shock_efficiency < 75 %} <h6><img src="/static/img/spell_holy_searinglight.jpg" id="thumbnail"> Try to cast
    holy Shock more often. Casting Holy Shock regularly is very
    important for performing well.</h6>
    <p>{{holy_shock_casts}} out of {{holy_shock_potential_casts}} possible casts. You kept it on cooldown
      {{holy_shock_efficiency}}%
      of the time.</p>
    {% endif %}
    {% if avenging_wrath_efficiency < 75 %} <h6><img src="/static/img/spell_holy_avenginewrath.jpg" id="thumbnail"> Try
      to cast Avenging Wrath more often.</h6>
      <p>{{avenging_wrath_casts}} out of {{avenging_wrath_potential_casts}} possible casts. You kept it on cooldown
        {{avenging_wrath_efficiency}}% of the time.</p>
      {% endif %}
      {% if lay_on_hands_efficiency < 75 %} <h6><img src="/static/img/spell_holy_layonhands.jpg" id="thumbnail"> Try to
        cast Lay on Hands more often.</h6>
        <p>{{lay_on_hands_casts}} out of {{lay_on_hands_potential_casts}} possible casts. You kept it on cooldown
          {{lay_on_hands_efficiency}}% of the time.</p>
        {% endif %}
        {% if weapon_enhanced == False %}
        <h6>Your weapon is missing a weapon enhancement (weapon oils/sharpening stone/weightstone). Apply an enhancement
          to very easily increase your throughput
          slightly.</h6>
        {% endif %}
        {% if weapon_enchant == False %}
        <h6>Your weapon is missing an enchant. Apply a strong enchant to very easily increase your throughput slightly.
        </h6>
        {% endif %}
        {% if chest_enchant == False %}
        <h6>Your chest is missing an enchant. Apply a strong enchant to very easily increase your throughput slightly.
        </h6>
        {% endif %}
        {% if legguards_enchant == False %}
        <h6>Your legguards are missing an enchant. Apply a strong enchant to very easily increase your throughput
          slightly.</h6>
        {% endif %}
        {% if boots_enchant == False %}
        <h6>Your boots are missing an enchant. Apply a strong enchant to very easily increase your throughput
          slightly.</h6>
        {% endif %}
        {% if wristguards_enchant == False %}
        <h6>Your wristguards are missing an enchant. Apply a strong enchant to very easily increase your throughput
          slightly.</h6>
        {% endif %}
        {% if gloves_enchant == False %}
        <h6>Your gloves is missing an enchant. Apply a strong enchant to very easily increase your throughput slightly.
        </h6>
        {% endif %}
        {% if ring1_enchant == False %}
        <h6>Your ring is missing an enchant. Apply a strong enchant to very easily increase your throughput slightly.
        </h6>
        {% endif %}
        {% if ring2_enchant == False %}
        <h6>Your ring is missing an enchant. Apply a strong enchant to very easily increase your throughput slightly.
        </h6>
        {% endif %}
        {% if cloak_enchant == False %}
        <h6>Your cloak is missing an enchant. Apply a strong enchant to very easily increase your throughput slightly.
        </h6>
        {% endif %}
        {% if player_potion_use == '0' %}
        <h6>You used 0 combat potions during this encounter, but you could have used 1.</h6>
        {% endif %}
        {% if food_buff == False %}
        <h6>You did not have any food active when starting the fight. Having the right food buff during combat is an
          easy way to improve performance.</h6>
        {% endif %}
</div>
{% endblock %}